
span.object {
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    outline: 1px solid #eee;
}

.p2p-video-view video {
    max-width: 100%;
}

span.record.video div {
    display: inline-block;
    vertical-align: top;
}

span.record.video video {
    max-width: 80px;
    max-height: 60px;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #eeeeeeee;
    transition: width 0.2s;
}

.drawer.open {
    width: 50%;
    border-left: 1px solid #888;
}

.drawer.closed {
    width: 0;
    overflow: hidden;
}

.drawer .CodeMirror {
    min-width: 1px; /* CodeMirror does *not* like to be zero-size */
}

.drawer button.toggle {
    border: none;
    background: none;
    padding: 1px 4px 3px 4px;
}

.drawer button.toggle:active,
.drawer button.toggle:focus {
    outline: none;
}
    
.drawer button.toggle:active {
    background: #00000040;
}
