
.ui-font-default {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.list-title {
    border-bottom: 1px solid #ddd;
}

div.list-title span {
    font-size: 10pt;
}

.p2p-list-of-feeds {
    font-size: 80%;
}

.p2p-video-view video {
    max-width: 100%;
}

.record.object {
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    outline: 1px solid #eee;
}

.record.object:empty {
    outline: 1px dashed #ccc;
    min-width: 0.5em;
    min-height: 0.5em;
    vertical-align: middle;
}

.record.menu-open,
.menu-open .record {
    user-select: none;  /* to disable automatic selection on right click */
}

.record .record--key-value {
    display: flex;
}

.record .record--key {
    flex-shrink: 0;
}

.record .record--key-sep {
    flex-shrink: 0;
    padding-right: .2em;
}

.record .record--key-value > .record.text\/plain {
    flex-grow: 1;
}

.record .record--editable {
    display: block;
    min-width: .5em;
    min-height: .7em;
    cursor: text;
}

.record .record--editable:focus {
    outline: none;
}

.record.object\/VideoIncoming div {
    display: inline-block;
    vertical-align: top;
}

.record.object\/VideoIncoming video {
    max-width: 80px;
    max-height: 60px;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #eeeeeeee;
    transition: width 0.2s;
    overflow-y: auto;
}

.drawer.open {
    width: 50%;
    border-left: 1px solid #888;
}

.drawer.closed {
    width: 0;
    overflow: hidden;
}

.drawer .CodeMirror {
    min-width: 1px; /* CodeMirror does *not* like to be zero-size */
}

.drawer button.toggle {
    border: none;
    background: none;
    padding: 1px 4px 3px 4px;
    height: 17px;
}

.drawer button.toggle:active,
.drawer button.toggle:focus {
    outline: none;
}
    
.drawer button.toggle:active {
    background: #00000040;
}

.drawer .CodeMirror,
.drawer object {
    display: block;
    width: 100%;
}
.drawer .CodeMirror,
.drawer object[type='application/pdf'] {
    height: calc(100% - 17px);
}

#editor-area .CodeMirror {
    height: 40%;
}

button:focus, button:active {
    outline: none;
}

body.syncpad-ide {
    margin: 0;
    padding: 0;
}

div.syncpad-ide {
    display: flex;
    height: 100%;
}

div.syncpad-ide #outline-area {
    flex-basis: 20%;
    padding: 9px;
    border-right: 1px solid gray;
    overflow: hidden;
}

div.syncpad-ide #editor-area {
    flex-grow: 1;
}