/* Lean, mean context menu (for use with VueContext) */

ul.v-context,
ul.v-context ul {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 15pt;
    padding: 2px 0;
    background: #eeee;
    user-select: none;
}

ul.v-context > li > a,
ul.v-context ul > li > a {
    padding: 1px 1rem;
}

ul.v-context > li > a:hover,
ul.v-context ul > li > a:hover {
    background: rgb(46, 103, 160);
    color: white;
    cursor: default;
}

ul.v-context > li[disabled],
ul.v-context ul > li[disabled] {
    pointer-events: none;
}

ul.v-context > li[disabled] > a,
ul.v-context ul > li[disabled] > a {
    color: #ccc;
}
